.rowRest {background-color: dimgray;}
.colRest {border: 5px solid rgb(131, 131, 131);background-color: dimgray;}
.label {display: flex;align-items: center;border: 1px solid black;}
.input {border: 3px solid red;outline: 3px solid rgb(19, 0, 128);background-color: dimgray;text-align: center;}
.button {background-color: blue;border: none;color: white;transition: 0.5s;}
.button:hover {background-color: red;transition: 0.5s;}
.rowRest{display: flex;flex-wrap: wrap;justify-content: center;}
.App {background: dimgray;}
span {color: rgb(138, 138, 138);font-size: 18px; line-height: 10px; font-family: 'Courier New', Courier, monospace;}